@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'FiraGO-Medium';
    src: url('./../public/fonts/FiraGO_WEB_1001/Roman/FiraGO-Medium.woff2');
}

@font-face {
    font-family: 'FiraGO-Bold';
    src: url('./../public/fonts/FiraGO_WEB_1001/Roman/FiraGO-Bold.woff2');
}

html,
body {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.ginfo-uppercase {
    font-feature-settings: 'case' on;
}